# Análisis Exploratorio de Datos del dataset `Air_Quality`

## Importación de Librerías

### Librerías Nativas

In [4]:
import os
import warnings

### Librerías de Terceros

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Configuración General

In [5]:
warnings.filterwarnings("ignore")

## Carga del Dataset

In [6]:
ruta_actual = os.getcwd()

ruta_actual

'c:\\Users\\franc\\Desktop\\taxi_electrico_nyc\\notebooks'

In [7]:
ruta_del_proyecto = os.path.dirname(
    ruta_actual
    )

ruta_del_proyecto

'c:\\Users\\franc\\Desktop\\taxi_electrico_nyc'

In [8]:
ruta_del_dataset = os.path.join(
    ruta_del_proyecto, 
    'data', 
    'Air_Quality_20241206.csv'
    )

ruta_del_dataset

'c:\\Users\\franc\\Desktop\\taxi_electrico_nyc\\data\\Air_Quality_20241206.csv'

In [9]:
air_quality = pd.read_csv(
    ruta_del_dataset)

## Exploración Inicial del Dataset

In [10]:
air_quality.head(5)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,01/01/2015,0.3,NaN
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,01/01/2015,1.2,NaN
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2012,12/01/2011,8.6,NaN
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Annual Average 2012,12/01/2011,8.0,NaN
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Summer 2022,06/01/2022,6.1,NaN

In [13]:
air_quality.tail(5)

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
18020,816914,643,Annual vehicle miles traveled,Million miles,per square mile,CD,503.0,Tottenville and Great Kills (CD3),2019,01/01/2019,12.9,NaN
18021,816913,643,Annual vehicle miles traveled,Million miles,per square mile,CD,503.0,Tottenville and Great Kills (CD3),2010,01/01/2010,14.7,NaN
18022,816872,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,208.0,Canarsie - Flatlands,2010,01/01/2010,43.4,NaN
18023,816832,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,407.0,Southwest Queens,2010,01/01/2010,65.8,NaN
18024,151658,643,Annual vehicle miles traveled,Million miles,per square mile,UHF42,408.0,Jamaica,2005,01/01/2005,41.0,NaN

## Análisis de la Estructura de los datos

In [14]:
air_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18025 entries, 0 to 18024
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       18025 non-null  int64
 1   Indicator ID    18025 non-null  int64
 2   Name            18025 non-null  object
 3   Measure         18025 non-null  object
 4   Measure Info    18025 non-null  object
 5   Geo Type Name   18025 non-null  object
 6   Geo Join ID     18016 non-null  float64
 7   Geo Place Name  18016 non-null  object
 8   Time Period     18025 non-null  object
 9   Start_Date      18025 non-null  object
 10  Data Value      18025 non-null  float64
 11  Message         0 non-null      float64
dtypes: float64(3), int64(2), object(7)
memory usage: 1.7+ MB

In [16]:
for columna in air_quality.columns:
    print(columna)

Unique ID
Indicator ID
Name
Measure
Measure Info
Geo Type Name
Geo Join ID
Geo Place Name
Time Period
Start_Date
Data Value
Message

In [17]:
air_quality.dtypes

Unique ID           int64
Indicator ID        int64
Name               object
Measure            object
Measure Info       object
Geo Type Name      object
Geo Join ID       float64
Geo Place Name     object
Time Period        object
Start_Date         object
Data Value        float64
Message           float64
dtype: object

In [19]:
air_quality.shape[0]

18025

In [21]:
air_quality.shape[1]

12

## Descriptivo del Diccionario de Datos

In [23]:
ruta_del_diccionario = os.path.join(
    ruta_del_proyecto, 
    'reports', 
    'Data-Dictionary-Air_Quality_2024.xlsx'
    )

ruta_del_diccionario

'c:\\Users\\franc\\Desktop\\taxi_electrico_nyc\\reports\\Data-Dictionary-Air_Quality_2024.xlsx'

In [27]:
diccionario = pd.read_excel(ruta_del_diccionario, sheet_name='Column Information')

In [28]:
diccionario

,Data Dictionary - Column Information,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,Column Name,Column Description,Expected/Allowed Values,Field Limitations,Additional Notes
1,Name of the column exactly as it appears in th...,"A brief, plain-language explanation of what th...",Specifies if there is an expected range and/or...,Describes any unique characteristics or potent...,NaN
2,unique_id,Unique record identifier,NaN,NaN,NaN
3,indicator_id,Identifier of the type of measured value acros...,NaN,"Indicators have the same data source, but may ...",NaN
4,name,Name of the indicator,NaN,"Indicators have the same data source, but may ...",NaN
5,measure,How the indicator is measured,NaN,This could indicate that data values are rates...,NaN
6,measure_info,Information (such as units) about the measure,NaN,NaN,NaN
7,geo_type_name,Geography type,UHF' stands for United Hospital Fund neighborh...,"For instance, Citywide, Borough, and Community...",NaN
8,geo_join_id,Identifier of the neighborhood geographic area...,NaN,Reference the geo_type_name to know which geog...,NaN
9,geo_place_name,Neighborhood name,NaN,Could be 'Brownsville' or 'Brooklyn' or other ...,NaN
10,time_period,Description of the time that the data applies to,NaN,"Could be a year, range of years, or season for...",NaN
11,start_date,Date value for the start of the time_period,NaN,Always a date value; could be useful for plott...,NaN
12,data_value,"The actual data value for this indicator, meas...",NaN,NaN,NaN
13,message,notes that apply to the data value,NaN,"For example, if an estimate is based on small ...",NaN

## Estadísticas Descriptivas

## Detección y Tratamiento de Valores Faltantes

## Detección y Tratamiento de Valores Nulos

## Detección y Tratamiento de Valores Duplicados

## Análisis de Valores Atípicos (Outliers)

## Distribución de Datos

## Análisis de Correlaciones

## Análisis Univariado

## Análisis Bivariado

## Análisis Multivariado

## Transformaciones y Creaciones de Nuevas Variables

## Documentación y Reportes