In [46]:
import os
import warnings

In [47]:
import pandas as pd
import matplotlib.pyplot as plt
import xlrd

In [48]:
warnings.filterwarnings("ignore")

In [49]:
pd.set_option('display.max_columns', None)

In [50]:
ruta_actual = os.getcwd()

ruta_actual

'c:\\Users\\franc\\Desktop\\taxi_electrico_nyc\\notebooks'

In [51]:
ruta_del_proyecto = os.path.dirname(
    ruta_actual
    )

ruta_del_proyecto

'c:\\Users\\franc\\Desktop\\taxi_electrico_nyc'

In [52]:
ruta_del_dataset = os.path.join(
    ruta_del_proyecto, 
    'data', 
    'Air_Quality_20241206.csv'
    )

ruta_del_dataset

'c:\\Users\\franc\\Desktop\\taxi_electrico_nyc\\data\\Air_Quality_20241206.csv'

In [53]:
air_quality = pd.read_csv(
    ruta_del_dataset
    )

In [54]:
air_quality.head()

,Unique ID,Indicator ID,Name,Measure,Measure Info,Geo Type Name,Geo Join ID,Geo Place Name,Time Period,Start_Date,Data Value,Message
0,179772,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,409.0,Southeast Queens,2015,01/01/2015,0.3,NaN
1,179785,640,Boiler Emissions- Total SO2 Emissions,Number per km2,number,UHF42,209.0,Bensonhurst - Bay Ridge,2015,01/01/2015,1.2,NaN
2,178540,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,209.0,Bensonhurst - Bay Ridge,Annual Average 2012,12/01/2011,8.6,NaN
3,178561,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Annual Average 2012,12/01/2011,8.0,NaN
4,823217,365,Fine particles (PM 2.5),Mean,mcg/m3,UHF42,409.0,Southeast Queens,Summer 2022,06/01/2022,6.1,NaN

### Tipos de datos

In [55]:
air_quality.dtypes

Unique ID           int64
Indicator ID        int64
Name               object
Measure            object
Measure Info       object
Geo Type Name      object
Geo Join ID       float64
Geo Place Name     object
Time Period        object
Start_Date         object
Data Value        float64
Message           float64
dtype: object

### Valores Nulos

In [56]:
air_quality.isnull().sum()

Unique ID             0
Indicator ID          0
Name                  0
Measure               0
Measure Info          0
Geo Type Name         0
Geo Join ID           9
Geo Place Name        9
Time Period           0
Start_Date            0
Data Value            0
Message           18025
dtype: int64

### Valores duplicados

In [57]:
print(air_quality.duplicated().sum())

0

### Metadatos / diccionario de datos

In [58]:
air_quality.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18025 entries, 0 to 18024
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unique ID       18025 non-null  int64
 1   Indicator ID    18025 non-null  int64
 2   Name            18025 non-null  object
 3   Measure         18025 non-null  object
 4   Measure Info    18025 non-null  object
 5   Geo Type Name   18025 non-null  object
 6   Geo Join ID     18016 non-null  float64
 7   Geo Place Name  18016 non-null  object
 8   Time Period     18025 non-null  object
 9   Start_Date      18025 non-null  object
 10  Data Value      18025 non-null  float64
 11  Message         0 non-null      float64
dtypes: float64(3), int64(2), object(7)
memory usage: 1.7+ MB

In [59]:
air_quality.describe()

           Unique ID  Indicator ID   Geo Join ID    Data Value  Message
count   18025.000000  18025.000000  1.801600e+04  18025.000000      0.0
mean   426387.692705    434.830180  5.906303e+05     21.428616      NaN
std    250489.450630    115.852371  7.769549e+06     23.999345      NaN
min    121644.000000    365.000000  1.000000e+00      0.000000      NaN
25%    175303.000000    365.000000  2.020000e+02      8.900000      NaN
50%    410803.000000    375.000000  3.030000e+02     15.200000      NaN
75%    649893.000000    386.000000  4.040000e+02     26.700000      NaN
max    828353.000000    661.000000  1.051061e+08    424.700000      NaN

In [60]:
air_quality.dtypes

Unique ID           int64
Indicator ID        int64
Name               object
Measure            object
Measure Info       object
Geo Type Name      object
Geo Join ID       float64
Geo Place Name     object
Time Period        object
Start_Date         object
Data Value        float64
Message           float64
dtype: object

In [61]:
air_quality.index

RangeIndex(start=0, stop=18025, step=1)

In [62]:
air_quality.dtypes.to_dict()

{'Unique ID': dtype('int64'),
 'Indicator ID': dtype('int64'),
 'Name': dtype('O'),
 'Measure': dtype('O'),
 'Measure Info': dtype('O'),
 'Geo Type Name': dtype('O'),
 'Geo Join ID': dtype('float64'),
 'Geo Place Name': dtype('O'),
 'Time Period': dtype('O'),
 'Start_Date': dtype('O'),
 'Data Value': dtype('float64'),
 'Message': dtype('float64')}

### Outliers

In [63]:
air_quality.describe()

           Unique ID  Indicator ID   Geo Join ID    Data Value  Message
count   18025.000000  18025.000000  1.801600e+04  18025.000000      0.0
mean   426387.692705    434.830180  5.906303e+05     21.428616      NaN
std    250489.450630    115.852371  7.769549e+06     23.999345      NaN
min    121644.000000    365.000000  1.000000e+00      0.000000      NaN
25%    175303.000000    365.000000  2.020000e+02      8.900000      NaN
50%    410803.000000    375.000000  3.030000e+02     15.200000      NaN
75%    649893.000000    386.000000  4.040000e+02     26.700000      NaN
max    828353.000000    661.000000  1.051061e+08    424.700000      NaN

### Distribución

In [64]:
air_quality['Name'].value_counts()

Name
Fine particles (PM 2.5)                                   5922
Nitrogen dioxide (NO2)                                    5922
Ozone (O3)                                                2115
Asthma emergency departments visits due to Ozone           485
Asthma hospitalizations due to Ozone                       484
Asthma emergency department visits due to PM2.5            480
Annual vehicle miles traveled (cars)                       321
Annual vehicle miles traveled                              321
Annual vehicle miles traveled (trucks)                     321
Deaths due to PM2.5                                        240
Respiratory hospitalizations due to PM2.5 (age 20+)        240
Cardiac and respiratory deaths due to Ozone                240
Cardiovascular hospitalizations due to PM2.5 (age 40+)     240
Outdoor Air Toxics - Formaldehyde                          203
Outdoor Air Toxics - Benzene                               203
Boiler Emissions- Total SO2 Emissions                       96
Boiler Emissions- Total PM2.5 Emissions                     96
Boiler Emissions- Total NOx Emissions                       96
Name: count, dtype: int64

Name	Measure	Measure Info	Geo Type Nam

In [65]:
air_quality['Measure'].value_counts()

Measure
Mean                                    13959
Million miles                             963
Estimated annual rate (under age 18)      729
Estimated annual rate (age 18+)           720
Estimated annual rate                     720
Annual average concentration              406
Number per km2                            288
Estimated annual rate (age 30+)           240
Name: count, dtype: int64

In [66]:
air_quality['Measure Info'].value_counts()

Measure Info
ppb                     8037
mcg/m3                  5922
per 100,000 adults      1440
per square mile          963
per 100,000 children     729
Âµg/m3                   406
number                   288
per 100,000              240
Name: count, dtype: int64

In [67]:
air_quality['Geo Type Name'].value_counts()

Geo Type Name
UHF42       7140
CD          6490
UHF34       3366
Borough      859
Citywide     170
Name: count, dtype: int64

In [68]:
ruta_actual = os.getcwd()

ruta_actual

'c:\\Users\\franc\\Desktop\\taxi_electrico_nyc\\notebooks'

In [69]:
ruta_del_proyecto = os.path.dirname(
    ruta_actual
    )

ruta_del_proyecto

'c:\\Users\\franc\\Desktop\\taxi_electrico_nyc'

In [70]:
ruta_del_dataset = os.path.join(
    ruta_del_proyecto, 
    'reports', 
    'Data-Dictionary-Air_Quality_2024.xlsx'
    )

ruta_del_dataset

'c:\\Users\\franc\\Desktop\\taxi_electrico_nyc\\reports\\Data-Dictionary-Air_Quality_2024.xlsx'

In [ ]:
diccionario_de_datos = pd.read_excel(ruta_del_dataset, sheet_name=None, engine='openpyxl')

NameError: name 'pd' is not defined

In [77]:
len(diccionario_de_datos)

7