## Hacemos la limpieza de los dataset

Tenemos que unir la informacion de viajes de cuatro tipos de taxi, cada uno contiene un dataset por mes desde ENE-2022 hasta SEPT-2024

In [1]:
import pandas as pd

In [2]:
# Info sobre el borough al que pertenece cada locacion
zonas = pd.read_csv("C:/Users/NoxiePC/Desktop/taximap/taxi_zone_lookup.csv")

In [49]:
yTrip_24_01.head(1)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge,Airport_fee
0,2,2024-01-01 00:57:55,2024-01-01 01:17:43,1.0,1.72,1.0,N,186,79,2,17.7,1.0,0.5,0.0,0.0,1.0,22.7,2.5,0.0

In [3]:
# yTrip (Yellow Trip Data)
yTrip_24_01 = pd.read_parquet('../../../trips_datasets/yellow_tripdata_2024-01.parquet')
yTrip_24_02 = pd.read_parquet('../../../trips_datasets/yellow_tripdata_2024-02.parquet')
yTrip_24_03 = pd.read_parquet('../../../trips_datasets/yellow_tripdata_2024-03.parquet')
yTrip_24_04 = pd.read_parquet('../../../trips_datasets/yellow_tripdata_2024-04.parquet')
yTrip_24_05 = pd.read_parquet('../../../trips_datasets/yellow_tripdata_2024-05.parquet')
yTrip_24_06 = pd.read_parquet('../../../trips_datasets/yellow_tripdata_2024-06.parquet')
yTrip_24_07 = pd.read_parquet('../../../trips_datasets/yellow_tripdata_2024-07.parquet')
yTrip_24_08 = pd.read_parquet('../../../trips_datasets/yellow_tripdata_2024-08.parquet')
yTrip_24_09 = pd.read_parquet('../../../trips_datasets/yellow_tripdata_2024-09.parquet')

# gTrip (Green Trip Data)
gTrip_24_01 = pd.read_parquet('../../../trips_datasets/green_tripdata_2024-01.parquet')
gTrip_24_02 = pd.read_parquet('../../../trips_datasets/green_tripdata_2024-02.parquet')
gTrip_24_03 = pd.read_parquet('../../../trips_datasets/green_tripdata_2024-03.parquet')
gTrip_24_04 = pd.read_parquet('../../../trips_datasets/green_tripdata_2024-04.parquet')
gTrip_24_05 = pd.read_parquet('../../../trips_datasets/green_tripdata_2024-05.parquet')
gTrip_24_06 = pd.read_parquet('../../../trips_datasets/green_tripdata_2024-06.parquet')
gTrip_24_07 = pd.read_parquet('../../../trips_datasets/green_tripdata_2024-07.parquet')
gTrip_24_08 = pd.read_parquet('../../../trips_datasets/green_tripdata_2024-08.parquet')
gTrip_24_09 = pd.read_parquet('../../../trips_datasets/green_tripdata_2024-09.parquet')

# fhvTrip (FHV Trip Data)
fhvTrip_24_01 = pd.read_parquet('../../../trips_datasets/fhv_tripdata_2024-01.parquet')
fhvTrip_24_02 = pd.read_parquet('../../../trips_datasets/fhv_tripdata_2024-02.parquet')
fhvTrip_24_03 = pd.read_parquet('../../../trips_datasets/fhv_tripdata_2024-03.parquet')
fhvTrip_24_04 = pd.read_parquet('../../../trips_datasets/fhv_tripdata_2024-04.parquet')
fhvTrip_24_05 = pd.read_parquet('../../../trips_datasets/fhv_tripdata_2024-05.parquet')
fhvTrip_24_06 = pd.read_parquet('../../../trips_datasets/fhv_tripdata_2024-06.parquet')
fhvTrip_24_07 = pd.read_parquet('../../../trips_datasets/fhv_tripdata_2024-07.parquet')
fhvTrip_24_08 = pd.read_parquet('../../../trips_datasets/fhv_tripdata_2024-08.parquet')
fhvTrip_24_09 = pd.read_parquet('../../../trips_datasets/fhv_tripdata_2024-09.parquet')

"""# hvfhvTrip (HV FHV Trip Data)
hvfhvTrip_24_01 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-01.parquet')
hvfhvTrip_24_02 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-02.parquet')
hvfhvTrip_24_03 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-03.parquet')
hvfhvTrip_24_04 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-04.parquet')
hvfhvTrip_24_05 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-05.parquet')
hvfhvTrip_24_06 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-06.parquet')
hvfhvTrip_24_07 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-07.parquet')
hvfhvTrip_24_08 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-08.parquet')
hvfhvTrip_24_09 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-09.parquet')"""

"# hvfhvTrip (HV FHV Trip Data)\nhvfhvTrip_24_01 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-01.parquet')\nhvfhvTrip_24_02 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-02.parquet')\nhvfhvTrip_24_03 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-03.parquet')\nhvfhvTrip_24_04 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-04.parquet')\nhvfhvTrip_24_05 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-05.parquet')\nhvfhvTrip_24_06 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-06.parquet')\nhvfhvTrip_24_07 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-07.parquet')\nhvfhvTrip_24_08 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-08.parquet')\nhvfhvTrip_24_09 = pd.read_parquet('../../../trips_datasets/fhvhv_tripdata_2024-09.parquet')"

### Limpieza en el dataset de taxis amarillos

In [4]:
# Función para limpiar el dataset
def limpiar_dataset(df):
    
    df = df[df['trip_distance'] > 0]
    df = df[df['tpep_pickup_datetime'] < df['tpep_dropoff_datetime']]
    df = df[df['total_amount'] > 0]
    df = df.dropna(subset=['tpep_pickup_datetime', 'tpep_dropoff_datetime', 'PULocationID', 'DOLocationID', 'total_amount'])
    df = df.drop_duplicates()

    data = df[['tpep_pickup_datetime', 'PULocationID', 'total_amount']]

    data = data.rename(columns={'tpep_pickup_datetime': 'date'})
    data['date'] = pd.to_datetime(data['date'])
    data = data[(data['date'] >= '2024-01-01') & (data['date'] < '2024-10-01')]

    data['year'] = data['date'].dt.year
    data['month'] = data['date'].dt.month
    data['day'] = data['date'].dt.day
    data['hour'] = data['date'].dt.hour
    data['day_of_week'] = data['date'].dt.dayofweek
    data = data.drop(columns=['date'])


    data2 = df[['tpep_dropoff_datetime', 'DOLocationID']]

    data2 = data2.rename(columns={'tpep_dropoff_datetime': 'date'})
    data2['date'] = pd.to_datetime(data2['date'])
    data2 = data2[(data2['date'] >= '2024-01-01') & (data2['date'] < '2024-10-01')]

    data2['year'] = data2['date'].dt.year
    data2['month'] = data2['date'].dt.month
    data2['day'] = data2['date'].dt.day
    data2['hour'] = data2['date'].dt.hour
    data2['day_of_week'] = data2['date'].dt.dayofweek
    data2 = data2.drop(columns=['date'])

    return data, data2

datasets = [
    yTrip_24_01,
    yTrip_24_02,
    yTrip_24_03,
    yTrip_24_04,
    yTrip_24_05,
    yTrip_24_06,
    yTrip_24_07,
    yTrip_24_08,
    yTrip_24_09
]
nombres_datasets = [
    'yTrip_24_01',
    'yTrip_24_02',
    'yTrip_24_03',
    'yTrip_24_04',
    'yTrip_24_05',
    'yTrip_24_06',
    'yTrip_24_07',
    'yTrip_24_08',
    'yTrip_24_09'
]

trip_yellow_PU = pd.DataFrame()
trip_yellow_DO = pd.DataFrame()

for df, nombre in zip(datasets, nombres_datasets):
    df1, df2 = limpiar_dataset(df)
    trip_yellow_PU = pd.concat([trip_yellow_PU, df1], ignore_index=True)
    trip_yellow_DO = pd.concat([trip_yellow_DO, df2], ignore_index=True)
    print(f'{nombre} limpio contiene {len(df1)} registros.')

print('Limpieza completada para todos los datasets.')
print(f'El dataset trip_yellow_UP contiene {len(trip_yellow_PU)} registros. \n y trip_yellow_DO {len(trip_yellow_DO)}')

yTrip_24_01 limpio contiene 2871895 registros.
yTrip_24_02 limpio contiene 2906291 registros.
yTrip_24_03 limpio contiene 3454623 registros.
yTrip_24_04 limpio contiene 3428544 registros.
yTrip_24_05 limpio contiene 3629227 registros.
yTrip_24_06 limpio contiene 3441521 registros.
yTrip_24_07 limpio contiene 2982452 registros.
yTrip_24_08 limpio contiene 2872768 registros.
yTrip_24_09 limpio contiene 3500116 registros.
Limpieza completada para todos los datasets.
El dataset trip_yellow_UP contiene 29087437 registros.
 y trip_yellow_DO 29086858

### Limpieza de taxis verdes

In [5]:
# Función para limpiar el dataset
def limpiar_dataset(df):
    df['PULocationID'] = df['PULocationID'].astype('int32')
    df['DOLocationID'] = df['DOLocationID'].astype('int32')
    df['total_amount'] = df['total_amount'].astype('float32')

    df = df[df['trip_distance'] > 0]
    df = df[df['lpep_pickup_datetime'] < df['lpep_dropoff_datetime']]
    df = df[df['total_amount'] > 0]
    df = df.dropna(subset=['lpep_pickup_datetime', 'lpep_dropoff_datetime', 'PULocationID', 'DOLocationID', 'total_amount'])
    df = df.drop_duplicates()

    data = df[['lpep_pickup_datetime', 'PULocationID', 'total_amount']]
    data2 = df[['lpep_dropoff_datetime', 'DOLocationID']]

    data = data.rename(columns={'lpep_pickup_datetime': 'date'})
    data2 = data2.rename(columns={'lpep_dropoff_datetime': 'date'})

    data['date'] = pd.to_datetime(data['date'])
    data2['date'] = pd.to_datetime(data2['date'])

    data = data[(data['date'] >= '2024-01-01') & (data['date'] < '2024-10-01')]
    data2 = data2[(data2['date'] >= '2024-01-01') & (data2['date'] < '2024-10-01')]

    data['year'] = data['date'].dt.year
    data['month'] = data['date'].dt.month
    data['day'] = data['date'].dt.day
    data['hour'] = data['date'].dt.hour
    data['day_of_week'] = data['date'].dt.dayofweek

    data2['year'] = data2['date'].dt.year
    data2['month'] = data2['date'].dt.month
    data2['day'] = data2['date'].dt.day
    data2['hour'] = data2['date'].dt.hour
    data2['day_of_week'] = data2['date'].dt.dayofweek

    data = data.drop(columns=['date'])
    data2 = data2.drop(columns=['date'])

    return data, data2

# Lista de datasets ya cargados
datasets = [
    gTrip_24_01,
    gTrip_24_02,
    gTrip_24_03,
    gTrip_24_04,
    gTrip_24_05,
    gTrip_24_06,
    gTrip_24_07,
    gTrip_24_08,
    gTrip_24_09
]
nombres_datasets = [
    'greenTrip_24_01',
    'greenTrip_24_02',
    'greenTrip_24_03',
    'greenTrip_24_04',
    'greenTrip_24_05',
    'greenTrip_24_06',
    'greenTrip_24_07',
    'greenTrip_24_08',
    'greenTrip_24_09'
]

# Limpiar y procesar cada dataset por separado y unir en pequeños lotes
trip_green_UP = pd.DataFrame()
trip_green_DO = pd.DataFrame()

for df, nombre in zip(datasets, nombres_datasets):
    df1, df2 = limpiar_dataset(df)
    trip_green_UP = pd.concat([trip_green_UP, df1], ignore_index=True)
    trip_green_DO = pd.concat([trip_green_DO, df2], ignore_index=True)

    print(f'{nombre} limpio contiene {len(df1)} registros.')

print('Limpieza completada para todos los datasets.')
print(f'El dataset trip_green_UP contiene {len(trip_green_UP)} registros. \n y trip_green_DO {len(trip_green_DO)}')

greenTrip_24_01 limpio contiene 53547 registros.
greenTrip_24_02 limpio contiene 50616 registros.
greenTrip_24_03 limpio contiene 54301 registros.
greenTrip_24_04 limpio contiene 53135 registros.
greenTrip_24_05 limpio contiene 57726 registros.
greenTrip_24_06 limpio contiene 51899 registros.
greenTrip_24_07 limpio contiene 48716 registros.
greenTrip_24_08 limpio contiene 48932 registros.
greenTrip_24_09 limpio contiene 51508 registros.
Limpieza completada para todos los datasets.
El dataset trip_green_UP contiene 470380 registros.
 y trip_green_DO 470367

### Limpieza de taxis fhv

In [6]:
# Función para limpiar el dataset
def limpiar_dataset(df):
    df = df[df['pickup_datetime'] < df['dropOff_datetime']]
    df = df.dropna(subset=['pickup_datetime', 'dropOff_datetime', 'PUlocationID', 'DOlocationID'])
    df = df.drop(columns=['SR_Flag'])  # Eliminar columna sin datos relevantes
    df = df.drop_duplicates()
    
    data = df[['pickup_datetime', 'PUlocationID']]
    data = data.rename(columns={'PUlocationID':'PULocationID', 'pickup_datetime': 'date'})

    data['date'] = pd.to_datetime(data['date'])
    data = data[(data['date'] >= '2024-01-01') & (data['date'] < '2024-10-01')]
    data['year'] = data['date'].dt.year
    data['month'] = data['date'].dt.month
    data['day'] = data['date'].dt.day
    data['hour'] = data['date'].dt.hour
    data['day_of_week'] = data['date'].dt.dayofweek
    data = data.drop(columns=['date'])

    data2 = df[['dropOff_datetime', 'DOlocationID']]
    data2 = data2.rename(columns={'DOlocationID':'DOLocationID', 'dropOff_datetime': 'date'})

    data2['date'] = pd.to_datetime(data2['date'])
    data2 = data2[(data2['date'] >= '2024-01-01') & (data2['date'] < '2024-10-01')]
    data2['year'] = data2['date'].dt.year
    data2['month'] = data2['date'].dt.month
    data2['day'] = data2['date'].dt.day
    data2['hour'] = data2['date'].dt.hour
    data2['day_of_week'] = data2['date'].dt.dayofweek
    data2 = data2.drop(columns=['date'])



    return data, data2

# Lista de datasets ya cargados
datasets = [
    fhvTrip_24_01,
    fhvTrip_24_02,
    fhvTrip_24_03,
    fhvTrip_24_04,
    fhvTrip_24_05,
    fhvTrip_24_06,
    fhvTrip_24_07,
    fhvTrip_24_08,
    fhvTrip_24_09
]
nombres_datasets = [
    'fhvTrip_24_01',
    'fhvTrip_24_02',
    'fhvTrip_24_03',
    'fhvTrip_24_04',
    'fhvTrip_24_05',
    'fhvTrip_24_06',
    'fhvTrip_24_07',
    'fhvTrip_24_08',
    'fhvTrip_24_09'
]

# Limpiar y procesar cada dataset por separado y unir en pequeños lotes
trip_fhv_UP = pd.DataFrame()
trip_fhv_DO = pd.DataFrame()

for df, nombre in zip(datasets, nombres_datasets):
    df1, df2 = limpiar_dataset(df)
    trip_fhv_UP = pd.concat([trip_fhv_UP, df1], ignore_index=True)
    trip_fhv_DO = pd.concat([trip_fhv_DO, df2], ignore_index=True)
    print(f'{nombre} limpio contiene {len(df1)} registros.')

print('Limpieza completada para todos los datasets.')
print(f'El dataset trip_fhv_UP contiene {len(trip_fhv_UP)} registros.\ny trip_fhv_DO contiene {len(trip_fhv_UP) } registros')

fhvTrip_24_01 limpio contiene 263066 registros.
fhvTrip_24_02 limpio contiene 200241 registros.
fhvTrip_24_03 limpio contiene 265847 registros.
fhvTrip_24_04 limpio contiene 368550 registros.
fhvTrip_24_05 limpio contiene 264970 registros.
fhvTrip_24_06 limpio contiene 326072 registros.
fhvTrip_24_07 limpio contiene 354368 registros.
fhvTrip_24_08 limpio contiene 233586 registros.
fhvTrip_24_09 limpio contiene 386806 registros.
Limpieza completada para todos los datasets.
El dataset trip_fhv_UP contiene 2663506 registros.
y trip_fhv_DO contiene 2663506 registros

### Limpieza de taxis hvfhv  (no se puede procesar por un problema de memoria)

In [4]:
# Función para limpiar el dataset
def limpiar_dataset(df):
    df = df[df['trip_miles'] >= 0]
    df = df[df['pickup_datetime'] < df['dropoff_datetime']]
    df = df[df['trip_time'] >= 0]
    df = df[df['base_passenger_fare'] >= 0]
    df = df.dropna(subset=['pickup_datetime', 'dropoff_datetime', 'PULocationID', 'DOLocationID', 'trip_miles', 'base_passenger_fare'])
    df = df.drop_duplicates()
    
    data = df[['pickup_datetime', 'PULocationID']]
    data = data.rename(columns={'pickup_datetime': 'Date', 'PULocationID': 'LocationID'})

    data['Date'] = pd.to_datetime(data['Date'])
    data['Year'] = data['Date'].dt.year
    data['Month'] = data['Date'].dt.month
    data['Day'] = data['Date'].dt.day
    data['Hour'] = data['Date'].dt.hour
    data['Day_of_week'] = data['Date'].dt.dayofweek
    data = data.drop(columns=['Date'])

    return data

# Función para dividir el dataset en partes
def dividir_dataset(df, chunk_size):
    for start in range(0, df.shape[0], chunk_size):
        yield df[start:start + chunk_size]

datasets = [
    hvfhvTrip_24_01,
    hvfhvTrip_24_02,
    hvfhvTrip_24_03,
    hvfhvTrip_24_04,
    hvfhvTrip_24_05,
    hvfhvTrip_24_06,
    hvfhvTrip_24_07,
    hvfhvTrip_24_08,
    hvfhvTrip_24_09
]
nombres_datasets = [
    'hvfhvTrip_24_01',
    'hvfhvTrip_24_02',
    'hvfhvTrip_24_03',
    'hvfhvTrip_24_04',
    'hvfhvTrip_24_05',
    'hvfhvTrip_24_06',
    'hvfhvTrip_24_07',
    'hvfhvTrip_24_08',
    'hvfhvTrip_24_09'
]

# Limpiar y procesar cada dataset por separado y unir en pequeños lotes
trip_fhvhv_data = pd.DataFrame()
chunk_size = 1000000  # Ajusta el tamaño según la memoria disponible

for df, nombre in zip(datasets, nombres_datasets):
    for chunk in dividir_dataset(df, chunk_size):
        df_limpio = limpiar_dataset(chunk)
        #trip_fhvhv_data = pd.concat([trip_fhvhv_data, df_limpio], ignore_index=True)
    print(f'{nombre} limpio contiene {len(df_limpio)} registros.')

print('Limpieza completada para todos los datasets.')
print(f'El dataset trip_fhvhv_data contiene {len(trip_fhvhv_data)} registros.')

hvfhvTrip_24_01 limpio contiene 663929 registros.
hvfhvTrip_24_02 limpio contiene 359089 registros.
hvfhvTrip_24_03 limpio contiene 280768 registros.
hvfhvTrip_24_04 limpio contiene 733023 registros.
hvfhvTrip_24_05 limpio contiene 704533 registros.
hvfhvTrip_24_06 limpio contiene 123225 registros.
hvfhvTrip_24_07 limpio contiene 182919 registros.
hvfhvTrip_24_08 limpio contiene 128389 registros.
hvfhvTrip_24_09 limpio contiene 209781 registros.
Limpieza completada para todos los datasets.
El dataset trip_fhvhv_data contiene 0 registros.

## Agrupar los dataset por Hour y locationID

In [7]:
# Agrupar los dataset de viajes por LocationID, Year, Month, Day, Hour y crear una nueva columna con la suma de viajes

trip_yellow_UP_grouped = trip_yellow_PU.groupby(['PULocationID', 'year', 'month', 'day', 'hour', 'day_of_week']).agg(
    solicitudes=('PULocationID', 'size'), 
    total_amount_sum=('total_amount', 'sum')
).reset_index()

trip_green_UP_grouped = trip_green_UP.groupby(['PULocationID', 'year', 'month', 'day', 'hour', 'day_of_week']).agg(
    solicitudes=('PULocationID', 'size'), 
    total_amount_sum=('total_amount', 'sum')
).reset_index()

trip_fhv_UP_grouped = trip_fhv_UP.groupby(['PULocationID', 'year', 'month', 'day', 'hour', 'day_of_week']).agg(
    solicitudes=('PULocationID', 'size')
).reset_index()


trip_yellow_DO_grouped = trip_yellow_DO.groupby(['DOLocationID', 'year', 'month', 'day', 'hour', 'day_of_week']).size().reset_index(name='oferta')
trip_green_DO_grouped = trip_green_DO.groupby(['DOLocationID', 'year', 'month', 'day', 'hour', 'day_of_week']).size().reset_index(name='oferta')
trip_fhv_DO_grouped = trip_fhv_DO.groupby(['DOLocationID', 'year', 'month', 'day', 'hour', 'day_of_week']).size().reset_index(name='oferta')



# Unión de los datasets por PULocationID, Year, Month, Day, Hour, Day_of_week y sumar las columnas solicitudes y total_amount_sum
trip_UP = pd.concat([trip_yellow_UP_grouped, trip_green_UP_grouped], ignore_index=True)
trip_UP = trip_UP.groupby(['PULocationID', 'year', 'month', 'day', 'hour', 'day_of_week']).agg(
    solicitudes=('solicitudes', 'sum'), 
    total_amount_sum=('total_amount_sum', 'sum')
).reset_index()

#Union de los datasets por LocationID, Year, Month, Day, Hour, Day_of_week y sumar la columna trips
trip_DO = pd.concat([trip_yellow_DO_grouped, trip_green_DO_grouped, trip_fhv_DO_grouped], ignore_index=True)
trip_DO = trip_DO.groupby(['DOLocationID', 'year', 'month', 'day', 'hour', 'day_of_week']).agg({'oferta': 'sum'}).reset_index()

In [28]:
trip_UP = trip_UP[~trip_UP['PULocationID'].isin([265, 264, 1])]
trip_DO = trip_DO[~trip_DO['DOLocationID'].isin([265, 264, 1])]

In [31]:
locaciones = trip_DO['DOLocationID'].unique()

In [34]:
# Creamos un dataset auxiliar
df['datetime'] = pd.to_datetime(trip_UP[['year', 'month', 'day', 'hour']])

min_date = df['datetime'].min()
max_date = df['datetime'].max()

print("Fecha y hora mínima:", min_date)
print("Fecha y hora máxima:", max_date)

date_range = pd.date_range(start=min_date, end=max_date, freq='H')
new_df = pd.DataFrame(date_range, columns=['datetime'])

Fecha y hora mínima: 2024-01-01 00:00:00
Fecha y hora máxima: 2024-09-30 23:00:00

C:\Users\NoxiePC\AppData\Local\Temp\ipykernel_13032\3236284036.py:11: FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.
  date_range = pd.date_range(start=min_date, end=max_date, freq='H')

                datetime
0    2024-01-01 00:00:00
1    2024-01-01 01:00:00
2    2024-01-01 02:00:00
3    2024-01-01 03:00:00
4    2024-01-01 04:00:00
...                  ...
6571 2024-09-30 19:00:00
6572 2024-09-30 20:00:00
6573 2024-09-30 21:00:00
6574 2024-09-30 22:00:00
6575 2024-09-30 23:00:00

[6576 rows x 1 columns]

In [32]:
import itertools
combinations = list(itertools.product(new_df['datetime'], locaciones))
comb_df = pd.DataFrame(combinations, columns=['datetime', 'DOLocationID'])

In [36]:
comb_df.rename(columns={'DOLocationID': 'locationID'}, inplace=True)
trip_DO.rename(columns={'DOLocationID': 'locationID'}, inplace=True)
trip_UP.rename(columns={'PULocationID': 'locationID'}, inplace=True)

comb_df['year'] = comb_df['datetime'].dt.year
comb_df['month'] = comb_df['datetime'].dt.month
comb_df['day'] = comb_df['datetime'].dt.day
comb_df['hour'] = comb_df['datetime'].dt.hour
comb_df['day_of_week'] = comb_df['datetime'].dt.dayofweek
comb_df = comb_df.drop(columns=['datetime'])

In [48]:
resultado = comb_df.merge(trip_DO, on=['locationID', 'year', 'month', 'day', 'hour', 'day_of_week'], how='left')
resultado['oferta'] = resultado['oferta'].fillna(0)
resultado = resultado.merge(trip_UP, on=['locationID', 'year', 'month', 'day', 'hour', 'day_of_week'], how='left')
resultado['solicitudes'] = resultado['solicitudes'].fillna(0)
resultado['total_amount_sum'] = resultado['total_amount_sum'].fillna(0)
resultado

,locationID,year,month,day,hour,day_of_week,oferta,solicitudes,total_amount_sum
0,2.0,2024,1,1,0,0,0.0,0.0,0.00
1,3.0,2024,1,1,0,0,0.0,0.0,0.00
2,4.0,2024,1,1,0,0,28.0,22.0,637.53
3,5.0,2024,1,1,0,0,1.0,0.0,0.00
4,6.0,2024,1,1,0,0,0.0,0.0,0.00
...,...,...,...,...,...,...,...,...,...
1709755,259.0,2024,9,30,23,0,1.0,0.0,0.00
1709756,260.0,2024,9,30,23,0,11.0,4.0,129.78
1709757,261.0,2024,9,30,23,0,19.0,7.0,168.73
1709758,262.0,2024,9,30,23,0,56.0,12.0,348.12
1709759,263.0,2024,9,30,23,0,68.0,33.0,637.51

In [99]:
trip_data = resultado

# Convertir LocationID en trip_data a int64 
trip_data['locationID'] = trip_data['locationID'].astype(int)
#  # Realizar el merge para agregar la columna 'Borough' al dataset 'trip_data' 
trip_data = trip_data.merge(zonas[['locationID', 'Borough']], on='locationID', how='left')

# Filtrar filas donde Borough no es nan, Unknown o EWR 
trip_data = trip_data[~trip_data['Borough'].isin(['Unknown', 'EWR'])] 
trip_data = trip_data.dropna(subset=['Borough'])

NameError: name 'trip_data' is not defined

## Traemos el dataset de clima

In [2]:
#pip install openmeteo-requests
#pip install requests-cache retry-requests numpy pandas
import openmeteo_requests
import requests_cache
import pandas as pd
from retry_requests import retry

# Setup the Open-Meteo API client with cache and retry on error
cache_session = requests_cache.CachedSession('.cache', expire_after=-1)
retry_session = retry(cache_session, retries=5, backoff_factor=0.2)
openmeteo = openmeteo_requests.Client(session=retry_session)

# Make sure all required weather variables are listed here
# The order of variables in hourly or daily is important to assign them correctly below
url = "https://archive-api.open-meteo.com/v1/archive"
latitudes = [40.6815, 40.6501, 40.7834, 40.8499, 40.5623]
longitudes = [-73.8365, -73.9496, -73.9663, -73.8664, -74.1399]
boroughs = ["Queens", "Brooklyn", "Manhattan", "Bronx", "Staten Island"]
params = {
    "latitude": latitudes,
    "longitude": longitudes,
    "start_date": "2022-01-01",
    "end_date": "2024-09-30",
    "hourly": ["temperature_2m", "relative_humidity_2m", "apparent_temperature", "weather_code", "cloud_cover", "wind_speed_10m", "wind_gusts_10m"],
    "timezone": "America/New_York"
}
responses = openmeteo.weather_api(url, params=params)

# Initialize an empty list to store the data for all boroughs
data_list = []

# Process each borough
for i, response in enumerate(responses):
    hourly = response.Hourly()
    hourly_data = {
        "date": pd.date_range(
            start=pd.to_datetime(hourly.Time(), unit="s", utc=True),
            end=pd.to_datetime(hourly.TimeEnd(), unit="s", utc=True),
            freq=pd.Timedelta(seconds=hourly.Interval()),
            inclusive="left"
        ),
        "temperature_2m": hourly.Variables(0).ValuesAsNumpy(),
        "relative_humidity_2m": hourly.Variables(1).ValuesAsNumpy(),
        "apparent_temperature": hourly.Variables(3).ValuesAsNumpy(),
        "weather_code": hourly.Variables(6).ValuesAsNumpy(),
        "cloud_cover": hourly.Variables(8).ValuesAsNumpy(),
        "wind_speed_10m": hourly.Variables(9).ValuesAsNumpy(),
        "wind_gusts_10m": hourly.Variables(11).ValuesAsNumpy(),
        "Borough": boroughs[i]
    }
    data_list.append(pd.DataFrame(hourly_data))

    predictors = [
    'relative_humidity', 'apparent_temperature','temperature', 'weather_code',
    'cloud_cover','wind_speed', 'wind_gusts'
]

# Concatenate all the dataframes into one
df_clima = pd.concat(data_list, ignore_index=True)

#filtrar los datos de clima para que coincidan con las fechas de los viajes
df_clima = df_clima[(df_clima['date'] >= '2024-01-01') & (df_clima['date'] < '2024-10-01')]

# Descomponer la columna date en Year, Month, Day, Hour y Day_of_week
df_clima['year'] = df_clima['date'].dt.year
df_clima['month'] = df_clima['date'].dt.month
df_clima['day'] = df_clima['date'].dt.day
df_clima['hour'] = df_clima['date'].dt.hour
df_clima['day_of_week'] = df_clima['date'].dt.dayofweek

df_clima.rename(columns={
    "temperature_2m": 'temperature',
    "relative_humidity_2m": 'relative_humidity',
    "wind_speed_10m": 'wind_speed',
    "wind_gusts_10m": 'wind_gusts',
})
df_clima = df_clima.drop(columns=['date'])

In [ ]:
#Unir los datasets de clima y viajes por Year, Month, Day, Hour y Day_of_week y Borough
data = trip_data.merge(df_clima, on=['year', 'month', 'day', 'hour', 'day_of_week', 'Borough'], how='left')
data.to_parquet('data_to_train_NEW_model.parquet')
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1133503 entries, 0 to 1133502
Data columns (total 18 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   LocationID            1133503 non-null  int64
 1   Year                  1133503 non-null  int32
 2   Month                 1133503 non-null  int32
 3   Day                   1133503 non-null  int32
 4   Hour                  1133503 non-null  int32
 5   Day_of_week           1133503 non-null  int32
 6   trips                 1133503 non-null  int64
 7   Borough               1133503 non-null  object
 8   temperature_2m        1133503 non-null  float32
 9   relative_humidity_2m  1133503 non-null  float32
 10  dew_point_2m          1133503 non-null  float32
 11  apparent_temperature  1133503 non-null  float32
 12  weather_code          1133503 non-null  float32
 13  pressure_msl          1133503 non-null  float32
 14  cloud_cover           1133503 non-null  float32
 15  wind_speed_10m        1133503 non-null  float32
 16  wind_direction_10m    1133503 non-null  float32
 17  wind_gusts_10m        1133503 non-null  float32
dtypes: float32(10), int32(5), int64(2), object(1)
memory usage: 90.8+ MB

In [ ]:
import xgboost as xgb
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.metrics import mean_squared_error, mean_absolute_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns

## Prediccion solicitudes

In [ ]:
# Variables predictoras (X) y variable objetivo (y)
predictors = [
    'locationID', 'day_of_month','hour_of_day', 'day_of_week',
    'relative_humidity', 'apparent_temperature','temperature', 'weather_code',
    'cloud_cover','wind_speed', 'wind_gusts'
]
X = data[predictors]
y = data['solicitudes']

# Dividir los datos en conjunto de entrenamiento y prueba (80% entrenamiento, 20% prueba)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Crear el modelo XGBoost
model = xgb.XGBRegressor(
    n_estimators=100,
    max_depth=20,
    learning_rate=0.1,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42
)

# Entrenar el modelo con los datos de entrenamiento
model.fit(X_train, y_train)

# Validación cruzada para evaluar el modelo
scores = cross_val_score(model, X_train, y_train, cv=5, scoring='neg_mean_squared_error')
print(f"Cross-Validation MSE: {-scores.mean()} ± {scores.std()}")

# Predecir con los datos de prueba
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error (MSE): {mse}")
print(f"Mean Absolute Error (MAE): {mae}")
print(f"R² Score: {r2}")

importancia_caracteristicas = pd.Series(model.feature_importances_, index=predictors).sort_values(ascending=False)
print("Importancia de las Características:")
print(importancia_caracteristicas)

plt.figure(figsize=(10, 6))
sns.scatterplot(x=y_test, y=y_pred)
plt.xlabel("Valores Reales")
plt.ylabel("Predicciones")
plt.title("Curva de Predicciones vs. Valores Reales")
plt.show()

## Prediccion oferta

In [ ]:
# Variables predictoras (X) y variable objetivo (y)
predictors = [
    'locationID', 'day_of_month','hour_of_day', 'day_of_week',
    'relative_humidity', 'apparent_temperature','temperature', 'weather_code',
    'cloud_cover','wind_speed', 'wind_gusts'
]
X = data[predictors]
y = data['demanda']

# Dividir los datos en conjunto de entrenamiento y prueba (80% entrenamiento, 20% prueba)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Crear el modelo XGBoost
model = xgb.XGBRegressor(
    n_estimators=100,
    max_depth=20,
    learning_rate=0.1,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42
)

# Entrenar el modelo con los datos de entrenamiento
model.fit(X_train, y_train)

# Validación cruzada para evaluar el modelo
scores = cross_val_score(model, X_train, y_train, cv=5, scoring='neg_mean_squared_error')
print(f"Cross-Validation MSE: {-scores.mean()} ± {scores.std()}")

# Predecir con los datos de prueba
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error (MSE): {mse}")
print(f"Mean Absolute Error (MAE): {mae}")
print(f"R² Score: {r2}")

importancia_caracteristicas = pd.Series(model.feature_importances_, index=predictors).sort_values(ascending=False)
print("Importancia de las Características:")
print(importancia_caracteristicas)

plt.figure(figsize=(10, 6))
sns.scatterplot(x=y_test, y=y_pred)
plt.xlabel("Valores Reales")
plt.ylabel("Predicciones")
plt.title("Curva de Predicciones vs. Valores Reales")
plt.show()

## Prediccion total_amount_sum

In [ ]:
# Variables predictoras (X) y variable objetivo (y)
predictors = [
    'locationID', 'day_of_month','hour_of_day', 'day_of_week',
    'relative_humidity', 'apparent_temperature','temperature', 'weather_code',
    'cloud_cover','wind_speed', 'wind_gusts'
]
X = data[predictors]
y = data['total_amount_sum']

# Dividir los datos en conjunto de entrenamiento y prueba (80% entrenamiento, 20% prueba)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Crear el modelo XGBoost
model = xgb.XGBRegressor(
    n_estimators=100,
    max_depth=20,
    learning_rate=0.1,
    subsample=0.8,
    colsample_bytree=0.8,
    random_state=42
)

# Entrenar el modelo con los datos de entrenamiento
model.fit(X_train, y_train)

# Validación cruzada para evaluar el modelo
scores = cross_val_score(model, X_train, y_train, cv=5, scoring='neg_mean_squared_error')
print(f"Cross-Validation MSE: {-scores.mean()} ± {scores.std()}")

# Predecir con los datos de prueba
y_pred = model.predict(X_test)

mse = mean_squared_error(y_test, y_pred)
mae = mean_absolute_error(y_test, y_pred)
r2 = r2_score(y_test, y_pred)
print(f"Mean Squared Error (MSE): {mse}")
print(f"Mean Absolute Error (MAE): {mae}")
print(f"R² Score: {r2}")

importancia_caracteristicas = pd.Series(model.feature_importances_, index=predictors).sort_values(ascending=False)
print("Importancia de las Características:")
print(importancia_caracteristicas)

plt.figure(figsize=(10, 6))
sns.scatterplot(x=y_test, y=y_pred)
plt.xlabel("Valores Reales")
plt.ylabel("Predicciones")
plt.title("Curva de Predicciones vs. Valores Reales")
plt.show()

## Resultados

In [ ]:
def get_distance(lat1, lon1, lat2, lon2):
    distance = 0
    distance = ((lat2 -lat1)**2 + (lon2 - lon1)**2) ** 0.5
    return distance

def get_values(df, R, locationID):
    # Obtener los datos para las predicciones
    predictors = ['locationID', 'day_of_month','hour_of_day', 'day_of_week',
                  'relative_humidity', 'apparent_temperature','temperature', 'weather_code',
                  'cloud_cover','wind_speed', 'wind_gusts']
    X = df[predictors]

    # Obtener la prediccion de solicitud, oferta y precio
    solicitud = model_1.predict(X)
    oferta = model_2.predict(X)
    precio = model_3.predict(X)

    k = (solicitud + 1) * (precio + 1) / (oferta + 1)
    df['k'] = k

    val = df[df['locationID'] == locationID].iloc[0]
    lat = val['lat']
    lon = val['lon']

    loc_cercanos = []
    for i in range(len(df)):
        r = get_distance(df.iloc[i]['lat'], df.iloc[i]['lon'], lat, lon)
        if r < R:
            loc_cercanos.append(df.iloc[i])

    loc_cercanos_df = pd.DataFrame(loc_cercanos)
    loc_cercanos_df = loc_cercanos_df.sort_values(by='k')
    return df, loc_cercanos